<!-- On this page will be implemented the drawing functionality and a  brief tutorial-->
{% extends "layout.html" %}

{% block title %}
    Draw
{% endblock %}

{% block main %}
<!-- TODO: Add the drawing feature-->
    <canvas id="myCanvas" width="200" height="100">Your browser does not support the HTML canvas tag.</canvas>
    <img class="invisible" src="" id="imgConverted" >


    <hr>
    <h2 class="text-start"> Resize canvas</h2>
    <div class="row">
        <div class="col">
            <select id="size" class="form-select" aria-label="Resize select">
                <option selected>Choose canvas size</option>
                <option value="small">Small</option>
                <option value="medium">Medium</option>
                <option value="A4">A4 - landscape</option>
            </select>
        </div>

        <div class="col">
            <button onclick="resize(event)" class="btn btn-dark">Resize</button>
        </div>
    </div>


    <hr>
    <h2 class="text-start">Customize style</h2>
    <div class="row">
        <div class="col">
            <h3>Background color: </h3>  
        </div>
        <div class="col">
            <select id="bg-color" class="form-select" aria-label="bg-color select">
                <option selected>Choose canvas color</option>
                <option value="White">White</option>
                <option value="Turquoise">Turquoise</option>
                <option value="Violet">Violet</option>
            </select>
        </div>
        <div class="col">
            <h3>Fill color: </h3>  
        </div>
        <div class="col">
            <select id="fill-color" class="form-select" aria-label="fill-colorselect">
                <option selected>Choose fill color</option>
                <option value="Black">Black</option>
                <option value="Red">Red</option>
                <option value="Yellow">Yellow</option>
            </select>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <h3>Stroke color:</h3>  
        </div>
        <div class="col">
            <select id="stroke-color" class="form-select" aria-label="stroke-color select">
                <option selected>Choose stroke color</option>
                <option value="Black">Black</option>
                <option value="Red">Red</option>
                <option value="White">White</option>
            </select>
        </div>

        <div class="col">
            <h3>Stroke width:</h3>  
        </div>
        <div class="col">
            <input id="stroke-width" autocomplete="off" class="form-control mx-auto w-auto" min="1" max="30" name="stroke-width" placeholder="[pixel]" type="number">
        </div>
    </div>

        <div class="row">
            <div class="col text-end mt-3">
                <button onclick="customize(event)" class="btn btn-dark">Customize</button>
            </div>
        </div>    
   


    <hr>
    <h2 class="text-start">Draw a line</h2>
    <div class="row">
        <div class="col">
            <h3>First point: </h3>  
        </div>
        <div class="col">
            <input id="x1" autocomplete="off" class="form-control mx-auto w-auto" min="0" max="100" name="x1" placeholder="x1 [%]" type="number">
        </div>
        <div class="col">
            <input id="y1" autocomplete="off" class="form-control mx-auto w-auto" min="0" max="100" name="y1" placeholder="y1 [%]" type="number">
        </div>
    </div>

    <div class="row">
        <div class="col">
            <h3>Second point: </h3>
        </div>
        <div class="col">
            <input id="x2" autocomplete="off" class="form-control mx-auto w-auto" min="0" max="100" name="x2" placeholder="x2 [%]" type="number">
        </div>
        <div class="col">
            <input id="y2" autocomplete="off" class="form-control mx-auto w-auto" min="0" max="100" name="y2" placeholder="y2 [%]" type="number">
        </div>
    </div>

    <div class="col-3 ms-auto mt-2">
        <button onclick="line(event)" class="btn btn-dark">Draw line</button>
    </div>

    <hr>
    <h2 class="text-start">Draw a rectangle</h2>
    <div class="row">
        <div class="col">
            <h3>First point: </h3>  
        </div>
        <div class="col">
            <input id="x1_rect" autocomplete="off" class="form-control mx-auto w-auto" min="0" max="100" name="x1" placeholder="x1 [%]" type="number">
        </div>
        <div class="col">
            <input id="y1_rect" autocomplete="off" class="form-control mx-auto w-auto" min="0" max="100" name="y1" placeholder="y1 [%]" type="number">
        </div>
    </div>

    <div class="row">
        <div class="col">
            <h3>Second point: </h3>
        </div>
        <div class="col">
            <input id="x2_rect" autocomplete="off" class="form-control mx-auto w-auto" min="0" max="100" name="x2" placeholder="x2 [%]" type="number">
        </div>
        <div class="col">
            <input id="y2_rect" autocomplete="off" class="form-control mx-auto w-auto" min="0" max="100" name="y2" placeholder="y2 [%]" type="number">
        </div>
    </div>

    <div class="row mt-2">
        <div class="col">
            <h3>Fill: </h3>
        </div>

        <div class="col">
            <div class="form-check text-center">
                <input class="form-check-input" type="checkbox" name="fill_rect" id="fill_rect">
            </div>    
        </div>

        <div class="col ms-auto">
            <button onclick="rect(event)" class="btn btn-dark">Draw rectangle</button>
        </div>
    </div>


    <hr>
    <h2 class="text-start">Draw an arc</h2>
    <div class="row">
        <div class="col">
            <h3>Center: </h3>  
        </div>
        <div class="col">
            <input id="x_arc" autocomplete="off" class="form-control mx-auto w-auto" min="0" max="100" name="x_arc" placeholder="x [%]" type="number">
        </div>
        <div class="col">
            <input id="y_arc" autocomplete="off" class="form-control mx-auto w-auto" min="0" max="100" name="y_arc" placeholder="y [%]" type="number">
        </div>
    </div>

    <div class="row">
        <div class="col">
            <h3>Angle: </h3>  
        </div>
        <div class="col">
            <input id="ang_start" autocomplete="off" class="form-control mx-auto w-auto" min="0" max="360" name="ang_start" placeholder="start [°]" type="number">
        </div>
        <div class="col">
            <input id="ang_end" autocomplete="off" class="form-control mx-auto w-auto" min="0" max="360" name="ang_end" placeholder="end [°]" type="number">
        </div>
    </div>

    <div class="row">
        <div class="col-4 text-center">
            <h3>Radius: </h3>
        </div>
        <div class="col-8 text-end">
            <input id="r_arc" autocomplete="off" class="form-control mx-auto w-auto" min="0" max="50" name="r_arc" placeholder="r [%]" type="number">
        </div>
    </div>

    <div class="row mt-2">
        <div class="col">
            <h3>Counter-clockwise: </h3>
        </div>

        <div class="col">
            <div class="form-check text-center">
                <input class="form-check-input" type="checkbox" name="counter_clock" id="counter_clock">
            </div>    
        </div>

        <div class="col ms-auto">
            <button onclick="arc(event)" class="btn btn-dark">Draw arc</button>
        </div>
    </div>


    <hr>
    <h2 class="text-start text-center">Save to library</h2>
    <button id="save" onclick="save(event)" class="btn btn-primary col-2">Save</button>


    <script  src="/static/draw.js" > </script>

{% endblock %}