<!-- On this page will be implemented the drawing functionality and a  brief tutorial-->
{% extends "layout.html" %}

{% block title %}
    Draw
{% endblock %}

{% block main %}
<!-- TODO: Add the drawing feature and it's tutorial-->
    <canvas id="myCanvas" width="200" height="100"></canvas>
    <img class="invisible" src="" id="imgConverted" >

    <hr>
    <h2 class="text-start"> Resize canvas</h2>
    <div class="row">
        <div class="col">
            <select id="size" class="form-select" aria-label="Resize select">
                <option selected>Choose canvas size</option>
                <option value="small">Small</option>
                <option value="medium">Medium</option>
                <option value="A4">A4 - landscape</option>
            </select>
        </div>

        <div class="col">
            <button onclick="resize(event)" class="btn btn-dark">Resize</button>
        </div>
    </div>

    <hr>
    <h2 class="text-start">Draw a line</h2>
    <div class="row">
        <div class="col">
            <h3>First point: </h3>  
        </div>
        <div class="col">
            <input id="x1" autocomplete="off" class="form-control mx-auto w-auto" min="0" max="100" name="x1" placeholder="x1 [%]" type="number">
        </div>
        <div class="col">
            <input id="y1" autocomplete="off" class="form-control mx-auto w-auto" min="0" max="100" name="y1" placeholder="y1 [%]" type="number">
        </div>
    </div>

    <div class="row">
        <div class="col">
            <h3>Second point: </h3>
        </div>
        <div class="col">
            <input id="x2" autocomplete="off" class="form-control mx-auto w-auto" min="0" max="100" name="x2" placeholder="x2 [%]" type="number">
        </div>
        <div class="col">
            <input id="y2" autocomplete="off" class="form-control mx-auto w-auto" min="0" max="100" name="y2" placeholder="y2 [%]" type="number">
        </div>
    </div>

    <div class="col-3 ms-auto mt-2">
        <button onclick="line(event)" class="btn btn-dark">Draw line</button>
    </div>

    <hr>
    <h2 class="text-start">Draw a rectangle</h2>
    <div class="row">
        <div class="col">
            <h3>First point: </h3>  
        </div>
        <div class="col">
            <input id="x1_rect" autocomplete="off" class="form-control mx-auto w-auto" min="0" max="100" name="x1" placeholder="x1 [%]" type="number">
        </div>
        <div class="col">
            <input id="y1_rect" autocomplete="off" class="form-control mx-auto w-auto" min="0" max="100" name="y1" placeholder="y1 [%]" type="number">
        </div>
    </div>

    <div class="row">
        <div class="col">
            <h3>Second point: </h3>
        </div>
        <div class="col">
            <input id="x2_rect" autocomplete="off" class="form-control mx-auto w-auto" min="0" max="100" name="x2" placeholder="x2 [%]" type="number">
        </div>
        <div class="col">
            <input id="y2_rect" autocomplete="off" class="form-control mx-auto w-auto" min="0" max="100" name="y2" placeholder="y2 [%]" type="number">
        </div>
    </div>

    <div class="row mt-2">
        <div class="col">
            <h3>Fill: </h3>
        </div>

        <div class="col">
            <div class="form-check text-center">
                <input class="form-check-input" type="checkbox" name="fill_rect" id="fill_rect">
            </div>    
        </div>

        <div class="col ms-auto">
            <button onclick="rect(event)" class="btn btn-dark">Draw rectangle</button>
        </div>
    </div>


    <hr>
    <h2 class="text-start text-center">Save to library</h2>
    <button id="save" onclick="save(event)" class="btn btn-primary col-2">Save</button>


    <script> 
        var canvas = document.getElementById("myCanvas")
        var ctx = canvas.getContext("2d");
        // Default bg-color
        setCanvasBgColor(canvas, 'white');
        ctx.fillStyle = "black";


        function setCanvasBgColor(canvas, color) 
        {
            // Its good practice to save a context state that will be modified
            ctx.save()

            // To keep the existing drawing as the bg color is changed
            ctx.globalCompositeOperation = 'destination-over'
            
            ctx.fillStyle = color;
            ctx.fillRect(0, 0, canvas.width, canvas.height);

            ctx.restore()
        }


        function resize(event)
        {
            var select = document.getElementById('size');
            var option = select.options[select.selectedIndex];           

            if (option.value == "small")
            {                
                canvas.width = 200;
                canvas.height = 100;
            }
            
            if (option.value == "medium")
            {
                canvas.width = 800;
                canvas.height = 400;
            }

            if (option.value == "A4")
            { 
                canvas.width = 3508;
                canvas.height = 2480;
            }
            setCanvasBgColor(canvas, 'white');
        }
        
        
        function line(event)
        {
            var x1 = document.getElementById('x1').value;
            var y1 = document.getElementById('y1').value;
            var x2 = document.getElementById('x2').value;
            var y2 = document.getElementById('y2').value;
            ctx.moveTo(x1/100*canvas.width, y1/100*canvas.height);
            ctx.lineTo(x2/100*canvas.width, y2/100*canvas.height);
            ctx.stroke();
        }

        function rect(event)
        {
            var x1 = document.getElementById('x1_rect').value;
            var y1 = document.getElementById('y1_rect').value;
            var x2 = document.getElementById('x2_rect').value;
            var y2 = document.getElementById('y2_rect').value;
   
            if(document.getElementById('fill_rect').checked) 
                {
                    ctx.fillRect(x1/100*canvas.width, y1/100*canvas.height, x2/100*canvas.width, y2/100*canvas.height)
                    ctx.stroke();
                }
            else
            {
                ctx.beginPath();            
                ctx.rect(x1/100*canvas.width, y1/100*canvas.height, x2/100*canvas.width, y2/100*canvas.height);
                ctx.stroke();
            }
        }


        function save(event)
        {
            //Convert the canvas to blob and post the file
            canvas.toBlob(postFile, 'image/jpeg');
            
            //Add file blob to a form and post
            function postFile(file) {
                if (confirm("The drawing will be saved to your homepage and the public library"))
                {
                let formdata = new FormData();
                formdata.append("image", file);
                let xhr = new XMLHttpRequest();
                xhr.open('POST', 'http://127.0.0.1:5000/image', true);
                xhr.onload = function () {
                if (this.status === 200)
                    console.log(this.response);
                else
                    console.error(xhr);
                };
                xhr.send(formdata);
                }
            }
        }

    </script>
{% endblock %}