<!-- This homepage will contain the user drawings -->
{% extends "layout.html" %}

{% block title %}
    My drawings
{% endblock %}

{% block main %}
<h1 class="text-start mb-5">Your drawings:</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th class="text-center">Thumbnail</th>
            <th class="text-center">Date&Time</th>
        </tr>
    </thead>

   <tbody>
            {% for drawing in drawings %}
            <tr>
                <td> 
                    <img src="{{url_for('static', filename=drawing.link)}}" class="img-thumbnail" alt="Thumbnail" style="max-width:20%">
                </td>
                <td class="text-center">{{drawing.time_stamp}}</td>
            </tr>
            {% endfor %}
    </tbody>
</table>
{% endblock %}