{% extends "layout.html" %}

{% block title %}
    Library
{% endblock %}

{% block main %}

    <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-end">User</th>
                <th class="text-center">Thumbnail</th>
                <th class="text-center">Date&Time</th>
            </tr>
        </thead>
       <tbody>
                {% for drawing in drawings %}
                <tr>
                    <td class="text-end">{{drawing.user}}</td>
                    <td> 
                        <img src="{{url_for('static', filename=drawing.link)}}" class="img-thumbnail" alt="Thumbnail" style="max-width:20%;" >   
                    </td>
                    <td class="text-center">{{drawing.time_stamp}}</td>
                </tr>
                {% endfor %}
        </tbody>
    </table>

{% endblock %}